{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Arun - Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav>

    <a href="http://127.0.0.1:9191/">Home</a>
    <a href="https://www.linkedin.com/in/arunr08032000/" target="_blank">About</a>
    <a href="/skills/">Skills</a>
    <a href="/contact/">Contact</a>

</nav>

    <header>
        <h1>Arun R's Portfolio</h1>

        <p>Python Full Stack Developer in Learning</p>
    </header>

    <main>

        <section>
            <h2>About Me</h2>

            <p>
                Hello! I am learning Python Full Stack Development
                using Python, Django, HTML, CSS and JavaScript.
            </p>
        </section>

        <section>
            <h2>My Skills</h2>

            <div class="skills-container">

                <div class="skill-card">
                    <h3>Python</h3>
                    <p>Backend programming with Python.</p>
                </div>

                <div class="skill-card">
                    <h3>Django</h3>
                    <p>Building web applications with Django.</p>
                </div>

                <div class="skill-card">
                    <h3>HTML</h3>
                    <p>Creating webpage structure.</p>
                </div>

                <div class="skill-card">
                    <h3>CSS</h3>
                    <p>Designing and styling webpages.</p>
                </div>

            </div>
        </section>

        <section>
            <h2>My Projects</h2>

            <h3>Portfolio Website</h3>

            <p>
                A portfolio website built using Python, Django, HTML, and CSS.
            </p>

        </section>

    </main>

    <footer>
        <p>© 2026 Arun R, B.E. (EEE). All Rights Reserved.</p>
    </footer>

</body>

</html>