<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
</head>
<body>
    <nav style="text-align: center;">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/Skills/">Skills</a>
        <a href="/contact/">Contact</a>
    </nav>
    <header>
        <h1>Arun R - Portfolio</h1>
        <img src="profile.jpeg" alt="Photo">
        <p>I am learning Python Full Stack Development.</p>
    </header>

    <main style="background-color: tomato;">
        <section style="font-family: 'Times New Roman', Times, serif;"> 
            <h2 style="font-size: 300%;">About Me</h2>
            <p style="text-align: center;">
                Hello! I am learning Python Full Stack Development
                using Python, Django, HTML, CSS and JavaScript.
            </p>
        </section>

        <section>
            <h2 style="color: blueviolet;">Skills</h2>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </section>
        <section>
            <h2>My Project</h2>
            <h3>Portfolio Website</h3>
            <p>
                A portfolio website built using Django and HTML.
            </p>
        </section>
        <footer>
            <p>© 2026 Arun. All Rights Reserved.</p>
        </footer>
    </main>
</body>
</html>