<!-- ================= HERO SECTION ================= -->

<header id="home" class="hero">

    <div class="hero-container">

        <div class="hero-content">

            <p class="hero-small-text">
                HELLO, I'M
            </p>

            <h1>
                Arun R
            </h1>

            <h2>
                Python Full Stack Developer
            </h2>

            <p class="hero-description">

                I build web applications using Python,
                Django, HTML, CSS and JavaScript.

                I also have experience with Linux,
                AWS, Docker and DevOps technologies.

            </p>

            <div class="hero-buttons">

                <a href="#projects" class="btn primary-btn">
                    View My Projects
                </a>

                <a href="#contact" class="btn secondary-btn">
                    Contact Me
                </a>

            </div>

        </div>

    </div>

        <!-- ================= NAVIGATION ================= -->

    <nav class="navbar">

        <div class="nav-container">

            <a href="/" class="logo">
                Arun R
            </a>

            <div class="nav-links">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#skills">Skills</a>

                <a href="#projects">Projects</a>

                <a href="#contact">Contact</a>

            </div>

        </div>

    </nav>

</header>